bump2version==0.5.11
coverage
flake8==3.9.2
jinja2==2.11.3
numpy
pip
pip-tools
pre-commit
pytest
pytest-cov
Sphinx
sphinxcontrib-serializinghtml
sphinxcontrib-websupport==1.1.0
tox==3.23.1
twine
watchdog==0.9.0
wheel==0.37.1
