alabaster
astroid
attrs
Babel
black
cachetools
certifi
cfgv
chardet
charset
click
colorama
coverage
dill
distlib
docutils
exceptiongroup
filelock
flake8
identify
idna
imagesize
importlib
iniconfig
isort
Jinja2
lazy
MarkupSafe
mccabe
mypy
nodeenv
numpy
packaging
pathspec
platformdirs
pluggy
pre
pycodestyle
pyflakes
Pygments
pylint
pyproject_api
pytest
pytest
pytz
PyYAML
requests
ruff
snowballstemmer
Sphinx
sphinxcontrib
sphinxcontrib
sphinxcontrib
sphinxcontrib
sphinxcontrib
sphinxcontrib
sphinxcontrib
toml
tomli
tomlkit
tox
typing_extensions
urllib3
virtualenv
watchdog
wrapt
zipp